.blocker{
  min-height: 100dvh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  z-index: 9999;
  pointer-events: none;
  transition: ease-out 0.5s;
  display: flex;          /* Use flexbox for alignment */
  justify-content: center; /* Center align horizontally */
  align-items: center;     /* Center align vertically */
  place-items: center;
  img{
    max-height: 10vh;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .result{
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.logo {
  max-height: 5em;
  cursor: pointer;
  margin-left: 50px;
  transition: transform 0.4s ease;
  transform-origin: center center;
  &:hover{
    transform: rotate(180deg);
  }
  @include medium {
    padding: 0 0px;
  }
}
.header {
  &__nav{
    padding-bottom: 40px;
    @include medium_small{
    }
    
  }
  &__hamburger {
    padding-top: 0.8em;
    cursor: default;
  }
  &__links {
    font-family: helvitica;
    font-weight: bold;
    width: 100%;
    padding-top: 2.3em;
    @include medium_small{
      padding-left: 38%;
    }
    ul {
      list-style-type: none;
      font-size: 1.2em;
      width: 100%;
      padding: 0 50px;
      align-items: center;
      text-transform: uppercase;
      @include medium_small {
        padding: 0 10px;
      }
      li a{
      &:hover {
        font-style: italic;
      }
    }
    }
  }
  &__video{
    min-height: 100dvh;
    background-color: black;
    position: relative;
    cursor: pointer;
    .play{
      max-height: 100px;
      display: block;
      z-index: 100;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__date{
    padding: 0 50px;
    font-weight: 500;
  }
}
.info {
  font-family: sans-serif;
  color: $white;
  width: fit-content;
  cursor:default;
  &:hover {
    font-style: italic;
  }
}
